#https://www.freebsd.org/cgi/man.cgi?sshd_config(5)

Protocol 2
Port 22
ListenAddress 0.0.0.0
PermitRootLogin no
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
HostbasedAuthentication no
UsePAM no
PermitEmptyPasswords no
ClientAliveInterval 300
ClientAliveCountMax 2
IgnoreRhosts yes
AllowUsers user
ChrootDirectory /home/user
PermitOpen none
AllowAgentForwarding no
