# This is Git's per-user configuration file.
[core]
    eol = lf
[rerere]
    enabled = true
[pull]
    rebase = true
    ff = only
[push]
    default = simple
[diff]
    tool = vimdiff3
[merge]
    tool = vimdiff3
[alias]
    cu = current
    dt = difftool
    mt = mergetool
    au = assume-unchanged
    ap = autopush
    pb = prune-branches
    st = status
    sh = show
    sw = switch
    pu = pull
    ps = push
    fe = fetch
    re = restore
[credential]
    helper = cache
[init]
    defaultBranch = main
[user]
    name = Seong-Jae Hwang
[advice]
    skippedCherryPicks = false
    detachedHead = false
